/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Кастомная прокрутка */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #4a5568;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2d3748;
}

/* Улучшенные стили для формы */
form {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для кнопок */
button {
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  transition: 0.4s;
  border-radius: 34px;
}

input:checked + .slider {
  background-color: #2563eb;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

